::selection{
    background-color: #FEC260;
}

body{
    font-family: "PT Sans Caption", sans-serif;
}
main{
    background-color: #F7ECDE;
}

main .form-control:focus{
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
    
}

main h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    line-height: 1.2;
    color: #352e28;
    position: relative;
    z-index:1 ;
   
}

main h1::before{
    content: '';
    width: 100%;
    height: 25%;
    background-color: #fec260;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

main h1:hover::before{
    height: 50%;
}

main .bookmark{
    border-top: 2px dotted #352e28;
    border-bottom: 2px dotted #352e28;
}

main h2{
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to right,#3ca55c,#b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .submit{
    background-color: #d1512d;
    color: #fff;

}
main .submit:hover{
    background-color: #bb4120;
    color: #fff;
}

.table thead tr th{
    color: #212529;
    background-color: #F8F9FA;
}

table .visit{
    background-color: #9eb23b;
    color: #fff;
}
table .visit:hover{
    background-color: #8a9e23;
    color: #fff;
}

table .delete{
    background-color: #eb1d36;
    color: #fff;
}
table .delete:hover{
    background-color: #d30820;
    color: #fff;
}

main .box{
    width: 500px;
    background-color: #fff;
    padding: 24px;
}

main .box span{
    width: 20px;
    height: 20px;
    display: block;
}

main .box .red{
background-color: #f15f5d;
}
main .box .yellow{
background-color: #febe2e;
}
main .box .green{
background-color: #4db748;
}
main .box button i{
    font-size: 24.6px;
}

main .box p{
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}

main ul li {
    padding-top: 10px;
    font-size: 18px;
}
main ul li i {
    color: #bb4120;
}